.badges {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    @include media(">large") {
        margin-bottom: 0;
        justify-content: flex-start;
    }
    .badges__item {
        transition: all .3s ease;
        &:hover,
        &:focus {
            transform: scale(1.05);
        }
        a {
            display: block;
            overflow: hidden; 
            border-radius: 13px; 
        }
        img {
            display: block;
            max-width: 135px;
            @include media(">medium") {
                max-width: 175px;
            }
        }
    }
}

