.hero {
    background: $primary-color-light;
    position: relative;
    &::before {
        content: '';
        background: $white;
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        @include media(">large") {
            height: 220px;
        }
    }
    .hero__container {
        max-width: 1100px;
        margin: 0 auto;
        padding-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        @include media(">medium") {
            padding-left: 50px;
            padding-right: 50px;
        }
        @include media(">large") {
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;
        }
    }
    .hero__copy {
        max-width: 600px;
        margin: 0 auto;
        @include media(">large") {
            max-width: 415px;
            margin-top: -150px;
        }
    }
    .hero__text {
        margin-bottom: 40px;
    }
    .hero__badges {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin-bottom: 50px;
        flex-wrap: wrap;
        @include media(">large") {
            margin-bottom: 0;
            justify-content: flex-start;
        }
    }
    .hero__image {
        position: relative;
        img {
            max-width: 100%;
        }
    }
}


