.info-module {
    background: $primary-color-light;
    padding: 80px 30px;
    @include media(">medium") {
        padding: 120px 50px;
    }
    .info-module__container {
        max-width: 1140px;
        margin: 0 auto;
        @include media(">large") {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: stretch;
            align-items: center;
            grid-gap: 75px;
        }
        @include media(">xlarge") {
            grid-gap: 115px; 
        }
    }
    .info-module__copy {
        @include media(">large") {
            grid-column: 1 / 2;
            grid-row: 1;
        }
        h2 {
            margin-top: 0;
        }
    }
    .info-module__image {
        margin-bottom: 40px;
        @include media(">large") {
            margin-bottom: 0;
            grid-column: 2 / 3;
            grid-row: 1;
        }
    }
}