.info-module {
    background: $primary-color-light;
    padding: 80px 30px;
    @include media(">medium") {
        padding: 120px 50px;
    }
    .info-module__container {
        max-width: 1140px;
        margin: 0 auto;
        @include media(">large") {
            display: flex;
            justify-items: stretch;
            align-items: center;
            gap: 75px;
        }
        @include media(">xlarge") {
            gap: 115px; 
        }
    }
    .info-module__copy {
        h2 {
            margin-top: 0;
        }
    }
    .info-module__image {
        margin-bottom: 40px;
        @include media(">large") {
            margin-bottom: 0;
            flex-shrink: 0;
            order: 2;
        }
    }
}