body {
    margin: 0;
    font-family: $global-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
}
  
h1,
.h1 {
    font-weight: $global-weight-bold;
    color: $black;
    font-size: 30px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 20px;
    @include media(">medium") {
        font-size: 50px;
        line-height: 60px;
    }
}

h2,
.h2 {
    font-weight: $global-weight-bold;
    color: $black;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 20px;
    @include media(">medium") {
        font-size: 50px;
        line-height: 60px;
    }
}

p {
    font-weight: $global-weight-normal;
    font-size: 12px;
    line-height: 16px; 
    @include media(">medium") {
        font-size: 16px;
        line-height: 22px; 
    }
}

.meta-text {
    font-weight: $global-weight-bold;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    @include media(">medium") {
        font-size: 18px;
        line-height: 26px;
    }
}

.button {
    background-color: $black;
    border-radius: 25px;
    padding: 13px 30px;
}

img {
    max-width: 100%;
}