//Fonts
$global-font: 'Montserrat', sans-serif;
$global-weight-normal: 400;
$global-weight-bold: 800;

//Colours
$primary-color: #F7EFB4;
$primary-color-light: #FBF8E9;
$secondary-color: #4a6789;
$black: #1F1F1F;
$white: #fff;
$light-gray: #DADADA;

$text-color: #333333;

//Breakpoints
$breakpoints: (
  small: 320px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);

